@font-face {
	font-family: 'bsc-regular';
	src: local('BarlowSemiCondensed-Regular'),
		url('./fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'bsc-bold';
	src: local('BarlowSemiCondensed-Bold'),
		url('./fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
}

html,
body {
	width: 100%;
	background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	font-family: 'bsc-regular';
}

.App {
	padding-top: 50px;
	padding-bottom: 30px;
}
